@import "../styles/variables";

$button-types: (
  primary: $button-primary-bg,
  secondary: $button-secondary-bg,
  tertiary: $button-tertiary-bg,
);

.btn {
  color: $button-color;
  padding: $button-padding;
  border-radius: $button-border-radius;
  font-size: $h6-font-size;
  border: 0;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
    font-weight: bold;
  }

  @each $type, $color in $button-types {
    &.#{$type} {
      background-color: $color;
    }
  }
  &.primary {
    color: $text-inverse;
  }

  &.tertiary {
    border: 2px solid $border-color;
  }
}
