@import "../styles/_variables.css";

.btn {
  color: var(--button-text-color);
  background-color: var(--button-bg-default);
  padding: var(--button-padding);
  border-radius: var(--button-border-radius);
  font-size: var(--h6-font-size);
  border: none;
  transition: background-color 0.2s, font-weight 0.2s;
  display: inline-block;

  &:hover {
    cursor: pointer;
    font-weight: bold;
  }

  &.primary {
    background-color: var(--button-primary-bg);
    color: var(--button-primary-text);
  }

  &.secondary {
    background-color: var(--button-secondary-bg);
    color: var(--button-secondary-text);
  }

  &.tertiary {
    background-color: transparent;
    color: var(--button-tertiary-text);
    border: 2px solid var(--button-border-color);
  }

  &.small {
    font-size: var(--font-size-small);
    padding: var(--padding-small);
  }

  &.large {
    font-size: var(--font-size-large);
    padding: var(--padding-large);
  }

  &:disabled {
    background-color: var(--button-disabled-bg);
    color: var(--button-disabled-text);
    cursor: not-allowed;
    opacity: 0.6;
  }
}
