.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 16px;
}

.card {
  width: 260px;
  background: #f4f8ff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid transparent;

  &.completed {
    border-color: #159015; // Green border for completed tasks
  }

  &.not-completed {
    border-color: #d9534f; // Red border for incomplete tasks
  }
}
.card:hover {
  transform: translateY(-20px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

.card-content {
  padding: 15px;
  text-align: center;
}

.card-title {
  font-family: "Comic Sans MS", cursive;
  font-size: 1.8rem;
  font-weight: normal;
  letter-spacing: 1px;
  color: #333;
}

.card-description {
  font-size: 16px;
  color: #666;
}
