@import "../styles/variables.scss";

// Modal Overlay
.modal {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color); // CSS מותאם אישית
  color: var(--text-color); // CSS מותאם אישית
}

// Modal Card
.modal-card {
  background-color: var(--background-color); // CSS מותאם אישית
  padding: var(--padding-medium); // CSS מותאם אישית
  border-radius: var(--border-radius); // CSS מותאם אישית
  height: 80%;
  width: 70%;
  overflow-y: auto;
  box-shadow: var(--box-shadow); // CSS מותאם אישית
  position: relative;
  display: flex;
  flex-direction: column;

  .modal-title {
    font-size: var(--h3-font-size); // CSS מותאם אישית
    font-family: var(--title-font-family); // CSS מותאם אישית
    color: var(--text-primary); // CSS מותאם אישית
    text-align: center;
  }
}

// Close Button (Top Right)
.modal-close-btn {
  position: absolute;
  top: var(--padding-normal); // CSS מותאם אישית
  right: var(--padding-small); // CSS מותאם אישית
  border: none;
  background: none;
  font-size: var(--h3-font-size); // CSS מותאם אישית
  cursor: pointer;
  color: var(--secondary-color); // CSS מותאם אישית
}

.modal-tabs {
  display: flex;
  justify-content: center;
}

.modal-tab-btn {
  padding: var(--padding-small) var(--padding-normal); // CSS מותאם אישית
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  color: var(--text-color); // CSS מותאם אישית

  &.active {
    color: var(--primary-color); // CSS מותאם אישית
    border-bottom: 2px solid var(--primary-color); // CSS מותאם אישית
  }

  &:hover {
    color: var(--primary-hover-color); // CSS מותאם אישית
  }
}

// Modal Content
.modal-list {
  list-style: none;
  width: 100%;
}

// Todos List
.modal-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid var(--border-color); // CSS מותאם אישית

  .todo-text {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

// Posts List
.post-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 12px;
  border-bottom: 1px solid var(--border-color); // CSS מותאם אישית

  .post-title {
    font-size: 16px;
    font-weight: bold;
    color: var(--primary-color); // CSS מותאם אישית
  }

  .post-body {
    font-size: 14px;
    color: var(--text-color); // CSS מותאם אישית
  }
}

// Error Message
.error-text {
  color: red;
  font-weight: bold;
  text-align: center;
}
