@import "../styles/variables.scss";

.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  border-bottom: 2px solid $primary-color;
  &:focus-within {
    width: 800px;
    .search-icon {
      transform: rotate(90deg);
    }
  }
}

.search-bar {
  flex: 1;
  border: none;
  outline: none;
  padding: $padding-small;
  font-size: $h6-font-size;
  background: transparent;
  &::placeholder {
    color: $text-muted;
  }
}

.search-icon {
  font-size: $h6-font-size;
  transition: transform 0.4s ease-in-out;
}

.search-bar-container.focused .search-icon {
  transform: rotate(90deg);
}
