@import "../styles/variables.scss";

.search-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  border-bottom: 2px solid var(--primary-color);
  transition: width 0.3s ease-in-out;

  &:focus-within {
    width: 800px;

    .search-icon {
      transform: rotate(90deg);
    }
  }
}

.search-bar {
  flex: 1;
  border: none;
  outline: none;
  padding: var(--padding-small);
  font-size: var(--h6-font-size);
  background: transparent;
  color: var(--text-color);

  &::placeholder {
    color: var(--text-muted);
  }
}

.search-icon {
  font-size: var(--h6-font-size);
  color: var(--text-secondary);
  transition: transform 0.4s ease-in-out;
}
