@import "./styles/_variables.css";

.App {
  background-color: var(--background-color);
  color: var(--text-primary);
  font-family: var(--text-font-family-body);
  display: flex;
  flex-direction: column;
  align-items: center;

  .App-logo-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: var(--padding-small);

    .App-logo {
      width: 400px;
      height: auto;
    }
  }

  .App-header {
    display: flex;
    padding: var(--padding-medium);
    background-color: var(--primary-color);
    color: var(--text-inverse);
    width: 100%;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    justify-content: center;

    h1 {
      font-family: var(--title-font-family);
      font-size: var(--h1-font-size);
      font-weight: var(--header-font-weight);
      text-shadow: 2px 2px var(--text-secondary);
    }
  }

  .App-search-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--padding-medium);
  }

  .user-list-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: var(--padding-medium);

    .user-list {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: var(--padding-medium);
      width: 100%;
    }
  }
}
